:root {
    --primary: #ffffff;
}

.btn {
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 10px;
    border: 2px black;
    border-color: black;
    cursor: pointer;
    background-color: white;
    transition: transform 0.3s ease;
    padding: 8px 20px;
    width: 250px;
}

.btn:hover {
    /*up on Y is negative*/
    transform: translateY(-3px);
}